.navbar{
  display: flex;
  flex-direction: row-reverse;
  padding: 16px;
  background-color: #333C83;
}


.navigation-menu,.grid{
     display: flex;
}

.navbar-item{
    padding-right: 8px;
}
.links{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: 0.5s;
    border: 0 solid;
    border-radius: 6px;
    font-size: 18px;
}

.Navbar__Link-toggle {
  display: none;
}
.links:hover{
    background-color: #212756;
}


@media only screen and (max-width: 768px) {

.navbar,.navigation-menu{
display: flex;
flex-direction: column;
align-items: center;
}

.grid{
display: grid;
padding-top: 20px;
height: 120px;
 grid-template-columns: 100%;
}

.navigation-menu {
    display:none;
  }


.Navbar__ToggleShow {
    display: flex;
  }

.Navbar__Link-toggle {
      margin-top: 2px;
      color: white;
      align-self: flex-end;
      display: initial;
      position: relative;
      cursor: pointer;
     }
}
.toggle-button:hover{
  box-sizing: content-box;
  box-shadow:  #E8F9FD 0px 10px 36px 0px, #001D6E 0px 0px 0px 1px;
}

}



/* more colour codes
#EAEA7F
#FDAF75
#F24A72
#333C83 */
